{% set name = "hyp3-testing-%s"|format(hash) %}
{
  "jobs": [
    {
      "name": "{{ name }}",
      "job_parameters": {
        "granules": ["S1A_IW_SLC__1SSV_20150621T120220_20150621T120232_006471_008934_72D8"],
        "resolution": 30.0,
        "radiometry": "sigma0",
        "scale": "amplitude",
        "speckle_filter": true,
        "dem_matching": true,
        "include_dem": true,
        "include_inc_map": true,
        "include_scattering_area": true,
        "include_rgb": true,
        "dem_name": "legacy"
      },
      "job_type": "RTC_GAMMA"
    },
    {
      "name": "{{ name }}",
      "job_parameters": {
        "granules": ["S1A_IW_SLC__1SSH_20141227T173304_20141227T173318_003908_004B17_52D4"],
        "resolution": 30.0,
        "radiometry": "gamma0",
        "scale": "power",
        "speckle_filter": false,
        "dem_matching": false,
        "include_dem": false,
        "include_inc_map": false,
        "include_scattering_area": false,
        "include_rgb": false,
        "dem_name": "legacy"
      },
      "job_type": "RTC_GAMMA"
    },
    {
      "name": "{{ name }}",
      "job_parameters": {
        "granules": ["S1A_IW_SLC__1SDV_20170525T025145_20170525T025157_016732_01BCA6_CEBE"],
        "resolution": 30.0,
        "radiometry": "gamma0",
        "scale": "power",
        "speckle_filter": false,
        "dem_matching": false,
        "include_dem": false,
        "include_inc_map": false,
        "include_scattering_area": true,
        "include_rgb": true,
        "dem_name": "legacy"
      },
      "job_type": "RTC_GAMMA"
    },
    {
      "name": "{{ name }}",
      "job_parameters": {
        "granules": ["S1B_IW_SLC__1SDH_20180522T071932_20180522T071945_011030_01435E_092C"],
        "resolution": 30.0,
        "radiometry": "sigma0",
        "scale": "amplitude",
        "speckle_filter": true,
        "dem_matching": true,
        "include_dem": true,
        "include_inc_map": true,
        "include_scattering_area": false,
        "include_rgb": true,
        "dem_name": "legacy"
      },
      "job_type": "RTC_GAMMA"
    },
    {
      "name": "{{ name }}",
      "job_parameters": {
        "granules": ["S1A_IW_GRDH_1SDV_20170823T011304_20170823T011316_018044_01E4B6_3F53"],
        "resolution": 30.0,
        "radiometry": "sigma0",
        "scale": "power",
        "speckle_filter": false,
        "dem_matching": false,
        "include_dem": false,
        "include_inc_map": true,
        "include_scattering_area": true,
        "include_rgb": false,
        "dem_name": "legacy"
      },
      "job_type": "RTC_GAMMA"
    },
    {
      "name": "{{ name }}",
      "job_parameters": {
        "granules": ["S1B_IW_GRDH_1SDH_20180603T071934_20180603T071946_011205_014909_AF96"],
        "resolution": 30.0,
        "radiometry": "gamma0",
        "scale": "amplitude",
        "speckle_filter": true,
        "dem_matching": true,
        "include_dem": true,
        "include_inc_map": false,
        "include_scattering_area": false,
        "include_rgb": false,
        "dem_name": "legacy"
      },
      "job_type": "RTC_GAMMA"
    },
    {
      "name": "{{ name }}",
      "job_parameters": {
        "granules": ["S1A_IW_GRDH_1SDH_20210115T100027_20210115T100052_036147_043CF4_049C"],
        "resolution": 30.0,
        "radiometry": "gamma0",
        "scale": "power",
        "speckle_filter": false,
        "dem_matching": false,
        "include_dem": false,
        "include_inc_map": true,
        "include_scattering_area": false,
        "include_rgb": false,
        "dem_name": "copernicus"
      },
      "job_type": "RTC_GAMMA"
    },
    {
      "name": "{{ name }}",
      "job_parameters": {
        "granules": ["S1A_IW_GRDH_1SSH_20190731T083303_20190731T083328_028358_033459_A44D"],
        "resolution": 30.0,
        "radiometry": "gamma0",
        "scale": "amplitude",
        "speckle_filter": true,
        "dem_matching": true,
        "include_dem": true,
        "include_inc_map": true,
        "include_scattering_area": true,
        "include_rgb": false,
        "dem_name": "copernicus"
      },
      "job_type": "RTC_GAMMA"
    },
    {
      "name": "{{ name }}",
      "job_parameters": {
        "granules": ["S1B_IW_GRDH_1SSV_20170206T001001_20170206T001026_004172_00738E_F7B0"],
        "resolution": 30.0,
        "radiometry": "sigma0",
        "scale": "power",
        "speckle_filter": false,
        "dem_matching": true,
        "include_dem": false,
        "include_inc_map": false,
        "include_scattering_area": false,
        "include_rgb": false,
        "dem_name": "copernicus"
      },
      "job_type": "RTC_GAMMA"
    },
    {
      "name": "{{ name }}",
      "job_parameters": {
        "granules": ["S1A_IW_GRDH_1SDV_20200817T034451_20200817T034516_033941_03F00D_8F47"],
        "resolution": 30.0,
        "radiometry": "sigma0",
        "scale": "amplitude",
        "speckle_filter": true,
        "dem_matching": false,
        "include_dem": true,
        "include_inc_map": true,
        "include_scattering_area": true,
        "include_rgb": false,
        "dem_name": "copernicus"
      },
      "job_type": "RTC_GAMMA"
    },
    {
      "name": "{{ name }}",
      "job_parameters": {
        "granules": ["S1A_IW_SLC__1SDH_20170428T155315_20170428T155342_016346_01B0D7_61E8"],
        "resolution": 30.0,
        "radiometry": "sigma0",
        "scale": "amplitude",
        "speckle_filter": true,
        "dem_matching": true,
        "include_dem": true,
        "include_inc_map": false,
        "include_scattering_area": true,
        "include_rgb": true,
        "dem_name": "copernicus"
      },
      "job_type": "RTC_GAMMA"
    },
    {
      "name": "{{ name }}",
      "job_parameters": {
        "granules": ["S1A_IW_SLC__1SDV_20210130T063219_20210130T063254_036363_044474_2BEB"],
        "resolution": 30.0,
        "radiometry": "gamma0",
        "scale": "power",
        "speckle_filter": false,
        "dem_matching": false,
        "include_dem": true,
        "include_inc_map": true,
        "include_scattering_area": true,
        "include_rgb": true,
        "dem_name": "copernicus"
      },
      "job_type": "RTC_GAMMA"
    }
  ]
}
