[
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1B_IW_SLC__1SDV_20201115T162313_20201115T162340_024278_02E29D_5C54",
        "S1A_IW_SLC__1SDV_20201203T162353_20201203T162420_035524_042744_6D5C"
      ],
      "looks": "10x2",
      "apply_water_mask": true,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "corr": {
        "threshold": 3.337804990858656e-07,
        "n_allowable": 781
      },
      "dem": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "los_disp": {
        "threshold": 4.714214969199335e-10,
        "n_allowable": 13011
      },
      "lv_phi": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "lv_theta": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "unw_phase": {
        "threshold": 1.0677483882370841e-07,
        "n_allowable": 12939
      },
      "vert_disp": {
        "threshold": 6.516170458937659e-10,
        "n_allowable": 12944
      },
      "water_mask": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "wrapped_phase": {
        "threshold": 2.2744017798951524e-06,
        "n_allowable": 5139
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20210803T104735_20210803T104802_039064_049BF3_21C5",
        "S1A_IW_SLC__1SDV_20210815T104736_20210815T104802_039239_04A1EA_4155"
      ],
      "looks": "20x4",
      "apply_water_mask": true,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "corr": {
        "threshold": 7.853160639167603e-07,
        "n_allowable": 729
      },
      "dem": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "los_disp": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "lv_phi": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "lv_theta": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "unw_phase": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "vert_disp": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "water_mask": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "wrapped_phase": {
        "threshold": 6.274099023883361e-06,
        "n_allowable": 4119
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1B_IW_SLC__1SDV_20170330T165506_20170330T165534_004940_008A32_DD40",
        "S1B_IW_SLC__1SDV_20170411T165507_20170411T165535_005115_008F39_5E31"
      ],
      "looks": "10x2",
      "apply_water_mask": false,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 7.39171039842791e-05,
        "n_allowable": 633
      },
      "corr": {
        "threshold": 7.834569481458633e-05,
        "n_allowable": 630
      },
      "dem": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "los_disp": {
        "threshold": 1.2170801145113498e-06,
        "n_allowable": 632
      },
      "lv_phi": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "lv_theta": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "unw_phase": {
        "threshold": 0.00027574270503768426,
        "n_allowable": 632
      },
      "vert_disp": {
        "threshold": 1.5698848637314312e-06,
        "n_allowable": 632
      },
      "water_mask": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "wrapped_phase": {
        "threshold": 0.0017846590071728932,
        "n_allowable": 585
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20210513T162108_20210513T162135_037871_04783E_6CC3",
        "S1A_IW_SLC__1SDV_20210525T162109_20210525T162135_038046_047D88_17E6"
      ],
      "looks": "20x4",
      "apply_water_mask": false,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "corr": {
        "threshold": 1.9519793400696113e-07,
        "n_allowable": 125
      },
      "dem": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "los_disp": {
        "threshold": 3.761316490415393e-09,
        "n_allowable": 60962
      },
      "lv_phi": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "lv_theta": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "unw_phase": {
        "threshold": 8.517480140557009e-07,
        "n_allowable": 65733
      },
      "vert_disp": {
        "threshold": 5.332981801877164e-09,
        "n_allowable": 64627
      },
      "water_mask": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "wrapped_phase": {
        "threshold": 8.077976124291093e-07,
        "n_allowable": 1588
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20211229T231926_20211229T231953_041230_04E66A_3DBE",
        "S1A_IW_SLC__1SDV_20220110T231926_20220110T231953_041405_04EC57_103E"
      ],
      "looks": "20x4",
      "apply_water_mask": false,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "corr": {
        "threshold": 5.015070803654234e-07,
        "n_allowable": 881
      },
      "dem": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "los_disp": {
        "threshold": 8.33024823061711e-09,
        "n_allowable": 84872
      },
      "lv_phi": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "lv_theta": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "unw_phase": {
        "threshold": 1.8872798592119685e-06,
        "n_allowable": 84944
      },
      "vert_disp": {
        "threshold": 1.1944055761420699e-08,
        "n_allowable": 84931
      },
      "water_mask": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "wrapped_phase": {
        "threshold": 1.8164409732261946e-06,
        "n_allowable": 5934
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20190704T135158_20190704T135225_027968_032877_1C4D",
        "S1A_IW_SLC__1SDV_20190716T135159_20190716T135226_028143_032DC3_512B"
      ],
      "looks": "20x4",
      "apply_water_mask": false,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "corr": {
        "threshold": 2.9200428017817146e-07,
        "n_allowable": 339
      },
      "dem": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "los_disp": {
        "threshold": 6.039590015480832e-09,
        "n_allowable": 141103
      },
      "lv_phi": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "lv_theta": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "unw_phase": {
        "threshold": 1.3633517148350355e-06,
        "n_allowable": 210285
      },
      "vert_disp": {
        "threshold": 8.638425449174833e-09,
        "n_allowable": 175167
      },
      "water_mask": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "wrapped_phase": {
        "threshold": 7.461523191650129e-07,
        "n_allowable": 3302
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDH_20210810T051814_20210810T051844_039163_049F50_3A78",
        "S1A_IW_SLC__1SDH_20210822T051815_20210822T051844_039338_04A553_B2CC"
      ],
      "looks": "20x4",
      "apply_water_mask": true,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "corr": {
        "threshold": 1.7844732379391482e-06,
        "n_allowable": 1079
      },
      "dem": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "los_disp": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "lv_phi": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "lv_theta": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "unw_phase": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "vert_disp": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "water_mask": {
        "threshold": 0.0,
        "n_allowable": 0
      },
      "wrapped_phase": {
        "threshold": 1.95130474612966e-05,
        "n_allowable": 5323
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20200110T172104_20200110T172123_030741_03864E_A996",
        "S1A_IW_SLC__1SDV_20200203T172103_20200203T172122_031091_03929B_3048"
      ],
      "looks": "20x4",
      "apply_water_mask": true,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {}
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20200110T172104_20200110T172123_030741_03864E_A996",
        "S1A_IW_SLC__1SDV_20200203T172103_20200203T172122_031091_03929B_3048"
      ],
      "looks": "20x4",
      "apply_water_mask": true,
      "include_look_vectors": false,
      "include_los_displacement": false,
      "include_dem": false,
      "include_wrapped_phase": false,
      "include_displacement_maps": false
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {}
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20200110T172104_20200110T172123_030741_03864E_A996",
        "S1A_IW_SLC__1SDV_20200203T172103_20200203T172122_031091_03929B_3048"
      ],
      "looks": "20x4",
      "apply_water_mask": true,
      "include_look_vectors": false,
      "include_los_displacement": true,
      "include_dem": false,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {}
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20200110T172104_20200110T172123_030741_03864E_A996",
        "S1A_IW_SLC__1SDV_20200203T172103_20200203T172122_031091_03929B_3048"
      ],
      "looks": "20x4",
      "apply_water_mask": true,
      "include_look_vectors": true,
      "include_los_displacement": false,
      "include_dem": true,
      "include_wrapped_phase": false,
      "include_displacement_maps": false
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {}
  }
]
