[
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1B_IW_SLC__1SDV_20201115T162313_20201115T162340_024278_02E29D_5C54",
        "S1A_IW_SLC__1SDV_20201203T162353_20201203T162420_035524_042744_6D5C"
      ],
      "looks": "10x2",
      "apply_water_mask": true,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "corr": {
        "threshold": 1.0013414972575968e-06,
        "n_allowable": 1781.0
      },
      "dem": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "los_disp": {
        "threshold": 1e-07,
        "n_allowable": 15613.0
      },
      "lv_phi": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "lv_theta": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "unw_phase": {
        "threshold": 3.2032451647112525e-07,
        "n_allowable": 15527.0
      },
      "vert_disp": {
        "threshold": 1e-07,
        "n_allowable": 15533.0
      },
      "water_mask": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "wrapped_phase": {
        "threshold": 6.823205339685457e-06,
        "n_allowable": 6167.0
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20210803T104735_20210803T104802_039064_049BF3_21C5",
        "S1A_IW_SLC__1SDV_20210815T104736_20210815T104802_039239_04A1EA_4155"
      ],
      "looks": "20x4",
      "apply_water_mask": true,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "corr": {
        "threshold": 2.355948191750281e-06,
        "n_allowable": 1729.0
      },
      "dem": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "los_disp": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "lv_phi": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "lv_theta": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "unw_phase": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "vert_disp": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "water_mask": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "wrapped_phase": {
        "threshold": 1.8822297071650083e-05,
        "n_allowable": 5119.0
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1B_IW_SLC__1SDV_20170330T165506_20170330T165534_004940_008A32_DD40",
        "S1B_IW_SLC__1SDV_20170411T165507_20170411T165535_005115_008F39_5E31"
      ],
      "looks": "10x2",
      "apply_water_mask": false,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 0.0002217513119528,
        "n_allowable": 1633.0
      },
      "corr": {
        "threshold": 0.0002350370844437,
        "n_allowable": 1630.0
      },
      "dem": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "los_disp": {
        "threshold": 3.6512403435340494e-06,
        "n_allowable": 1632.0
      },
      "lv_phi": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "lv_theta": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "unw_phase": {
        "threshold": 0.000827228115113,
        "n_allowable": 1632.0
      },
      "vert_disp": {
        "threshold": 4.709654591194293e-06,
        "n_allowable": 1632.0
      },
      "water_mask": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "wrapped_phase": {
        "threshold": 0.0053539770215186,
        "n_allowable": 1585.0
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20210513T162108_20210513T162135_037871_04783E_6CC3",
        "S1A_IW_SLC__1SDV_20210525T162109_20210525T162135_038046_047D88_17E6"
      ],
      "looks": "20x4",
      "apply_water_mask": false,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "corr": {
        "threshold": 5.855938020208834e-07,
        "n_allowable": 1125.0
      },
      "dem": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "los_disp": {
        "threshold": 1e-07,
        "n_allowable": 73154.0
      },
      "lv_phi": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "lv_theta": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "unw_phase": {
        "threshold": 2.5552440421671027e-06,
        "n_allowable": 78880.0
      },
      "vert_disp": {
        "threshold": 1e-07,
        "n_allowable": 77552.0
      },
      "water_mask": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "wrapped_phase": {
        "threshold": 2.423392837287328e-06,
        "n_allowable": 2588.0
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20211229T231926_20211229T231953_041230_04E66A_3DBE",
        "S1A_IW_SLC__1SDV_20220110T231926_20220110T231953_041405_04EC57_103E"
      ],
      "looks": "20x4",
      "apply_water_mask": false,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "corr": {
        "threshold": 1.5045212410962702e-06,
        "n_allowable": 1881.0
      },
      "dem": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "los_disp": {
        "threshold": 1e-07,
        "n_allowable": 101846.0
      },
      "lv_phi": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "lv_theta": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "unw_phase": {
        "threshold": 5.661839577635905e-06,
        "n_allowable": 101933.0
      },
      "vert_disp": {
        "threshold": 1e-07,
        "n_allowable": 101917.0
      },
      "water_mask": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "wrapped_phase": {
        "threshold": 5.449322919678584e-06,
        "n_allowable": 7121.0
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20190704T135158_20190704T135225_027968_032877_1C4D",
        "S1A_IW_SLC__1SDV_20190716T135159_20190716T135226_028143_032DC3_512B"
      ],
      "looks": "20x4",
      "apply_water_mask": false,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "corr": {
        "threshold": 8.760128405345144e-07,
        "n_allowable": 1339.0
      },
      "dem": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "los_disp": {
        "threshold": 1e-07,
        "n_allowable": 169324.0
      },
      "lv_phi": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "lv_theta": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "unw_phase": {
        "threshold": 4.090055144505107e-06,
        "n_allowable": 252342.0
      },
      "vert_disp": {
        "threshold": 1e-07,
        "n_allowable": 210200.0
      },
      "water_mask": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "wrapped_phase": {
        "threshold": 2.2384569574950385e-06,
        "n_allowable": 4302.0
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDH_20210810T051814_20210810T051844_039163_049F50_3A78",
        "S1A_IW_SLC__1SDH_20210822T051815_20210822T051844_039338_04A553_B2CC"
      ],
      "looks": "20x4",
      "apply_water_mask": true,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {
      "amp": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "corr": {
        "threshold": 5.3534197138174445e-06,
        "n_allowable": 2079.0
      },
      "dem": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "los_disp": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "lv_phi": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "lv_theta": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "unw_phase": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "vert_disp": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "water_mask": {
        "threshold": 1e-07,
        "n_allowable": 1000.0
      },
      "wrapped_phase": {
        "threshold": 5.85391423838898e-05,
        "n_allowable": 6388.0
      }
    }
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20200110T172104_20200110T172123_030741_03864E_A996",
        "S1A_IW_SLC__1SDV_20200203T172103_20200203T172122_031091_03929B_3048"
      ],
      "looks": "20x4",
      "apply_water_mask": true,
      "include_look_vectors": true,
      "include_los_displacement": true,
      "include_dem": true,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {}
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20200110T172104_20200110T172123_030741_03864E_A996",
        "S1A_IW_SLC__1SDV_20200203T172103_20200203T172122_031091_03929B_3048"
      ],
      "looks": "20x4",
      "apply_water_mask": true,
      "include_look_vectors": false,
      "include_los_displacement": false,
      "include_dem": false,
      "include_wrapped_phase": false,
      "include_displacement_maps": false
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {}
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20200110T172104_20200110T172123_030741_03864E_A996",
        "S1A_IW_SLC__1SDV_20200203T172103_20200203T172122_031091_03929B_3048"
      ],
      "looks": "20x4",
      "apply_water_mask": true,
      "include_look_vectors": false,
      "include_los_displacement": true,
      "include_dem": false,
      "include_wrapped_phase": true,
      "include_displacement_maps": true
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {}
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1A_IW_SLC__1SDV_20200110T172104_20200110T172123_030741_03864E_A996",
        "S1A_IW_SLC__1SDV_20200203T172103_20200203T172122_031091_03929B_3048"
      ],
      "looks": "20x4",
      "apply_water_mask": true,
      "include_look_vectors": true,
      "include_los_displacement": false,
      "include_dem": true,
      "include_wrapped_phase": false,
      "include_displacement_maps": false
    },
    "job_type": "INSAR_GAMMA",
    "tolerance_parameters": {}
  }
]
