[
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1_217165_IW2_20201115T162315_VV_5C54-BURST",
        "S1_217165_IW2_20201203T162356_VV_6D5C-BURST"
      ],
      "looks": "10x2",
      "apply_water_mask": false
    },
    "job_type": "INSAR_ISCE_BURST"
  }
]
