[
  {
   "name": "{{ name }}",
   "job_parameters": {
    "granules": [
        "S1_136231_IW2_20200604T022312_VV_7C85-BURST",
        "S1_136231_IW2_20200616T022313_VV_5D11-BURST"
        ],
    "apply_water_mask": False,
    "looks": "5x1"
    },
    "job_type": "INSAR_ISCE_BURST"
  },

  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1_136231_IW2_20200616T022313_VV_5D11-BURST",
        "S1_217165_IW2_20201203T162356_VV_6D5C-BURST"
      ],
      "looks": "10x2",
      "apply_water_mask": False
    },
    "job_type": "INSAR_ISCE_BURST"
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1_372326_IW3_20180628T151555_VV_4673-BURST",
        "S1_372326_IW3_20190705T151602_VV_D62F-BURST"
      ],
      "looks": "20x4",
      "apply_water_mask": True
    },
    "job_type": "INSAR_ISCE_BURST"
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1_372326_IW3_20180628T151555_VV_4673-BURST",
        "S1_372326_IW3_20190705T151602_VV_D62F-BURST"
      ],
      "looks": "20x4",
      "apply_water_mask": false
    },
    "job_type": "INSAR_ISCE_BURST"
  },
  {
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1_029928_IW3_20170330T165517_VV_DD40-BURST",
        "S1_029928_IW3_20170411T165517_VV_5E31-BURST"
      ],
      "looks": "20x4",
      "apply_water_mask": False
    },
    "job_type": "INSAR_ISCE_BURST"
  }
]
