[
    {
        "name": "{{ name }}",
        "job_parameters": {
            "reference": [
                "S1_136231_IW2_20200604T022312_VV_7C85-BURST"
            ],
            "secondary": [
                "S1_136231_IW2_20200616T022313_VV_5D11-BURST"
            ],
            "apply_water_mask": false,
            "looks": "5x1"
        },
        "job_type": "INSAR_ISCE_MULTI_BURST"
    },
    {
        "name": "{{ name }}",
        "job_parameters": {
            "reference": [
                "S1_136231_IW2_20200604T022312_VV_7C85-BURST"
            ],
            "secondary": [
                "S1_136231_IW2_20200616T022313_VV_5D11-BURST"
            ],
            "apply_water_mask": false,
            "looks": "10x2"
        },
        "job_type": "INSAR_ISCE_MULTI_BURST"
    },
    {
        "name": "{{ name }}",
        "job_parameters": {
            "reference": [
                "S1_136231_IW2_20200604T022312_VV_7C85-BURST"
            ],
            "secondary": [
                "S1_136231_IW2_20200616T022313_VV_5D11-BURST"
            ],
            "apply_water_mask": false,
            "looks": "20x4"
        },
        "job_type": "INSAR_ISCE_MULTI_BURST"
    },
    {
        "name": "{{ name }}",
        "job_parameters": {
            "reference": [
                "S1_217166_IW2_20201115T162318_VV_5C54-BURST",
                "S1_217165_IW2_20201115T162315_VV_5C54-BURST"
            ],
            "secondary": [
                "S1_217166_IW2_20201203T162359_VV_6D5C-BURST",
                "S1_217165_IW2_20201203T162356_VV_6D5C-BURST"
            ],
            "apply_water_mask": false,
            "looks": "20x4"
        },
        "job_type": "INSAR_ISCE_MULTI_BURST"
    },
    {
        "name": "{{ name }}",
        "job_parameters": {
            "reference": [
                "S1_217166_IW2_20201115T162318_VV_5C54-BURST",
                "S1_217165_IW2_20201115T162315_VV_5C54-BURST"
            ],
            "secondary": [
                "S1_217166_IW2_20201203T162359_VV_6D5C-BURST",
                "S1_217165_IW2_20201203T162356_VV_6D5C-BURST"
            ],
            "apply_water_mask": true,
            "looks": "20x4"
        },
        "job_type": "INSAR_ISCE_MULTI_BURST"
    },
    {
        "name": "{{ name }}",
        "job_parameters": {
            "reference": [
                "S1_069586_IW2_20211229T231937_VV_3DBE-BURST",
                "S1_069586_IW1_20211229T231936_VV_3DBE-BURST",
                "S1_069585_IW2_20211229T231934_VV_3DBE-BURST",
                "S1_069585_IW1_20211229T231933_VV_3DBE-BURST",
                "S1_069584_IW2_20211229T231932_VV_3DBE-BURST",
                "S1_069584_IW1_20211229T231931_VV_3DBE-BURST",
                "S1_069583_IW2_20211229T231929_VV_3DBE-BURST",
                "S1_069583_IW1_20211229T231928_VV_3DBE-BURST",
                "S1_069582_IW2_20211229T231926_VV_3DBE-BURST",
                "S1_069582_IW1_20211229T231925_VV_61D1-BURST"
            ],
            "secondary": [
                "S1_069586_IW2_20220110T231937_VV_103E-BURST",
                "S1_069586_IW1_20220110T231936_VV_103E-BURST",
                "S1_069585_IW2_20220110T231934_VV_103E-BURST",
                "S1_069585_IW1_20220110T231933_VV_103E-BURST",
                "S1_069584_IW2_20220110T231931_VV_103E-BURST",
                "S1_069584_IW1_20220110T231930_VV_103E-BURST",
                "S1_069583_IW2_20220110T231929_VV_103E-BURST",
                "S1_069583_IW1_20220110T231928_VV_103E-BURST",
                "S1_069582_IW2_20220110T231926_VV_103E-BURST",
                "S1_069582_IW1_20220110T231925_VV_33DF-BURST"
            ],
            "apply_water_mask": false,
            "looks": "20x4"
        },
        "job_type": "INSAR_ISCE_MULTI_BURST"
    }
]
