[
  {
    "job_type": "OPERA_RTC_S1",
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1_366240_IW1_20220321T103707_VV_8575-BURST"
      ]
    }
  },
  {
    "job_type": "OPERA_RTC_S1",
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1_073251_IW2_20220111T020806_VV_9D98-BURST"
      ]
    }
  }
]
