[
  {
    "job_type": "OPERA_RTC_S1",
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1_073251_IW2_20220111T020806_VV_9D98-BURST"
      ]
    }
  },
  {
    "job_type": "OPERA_RTC_S1",
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1_141657_IW3_20230108T063255_VV_6B7D-BURST"
      ]
    }
  },
  {
    "job_type": "OPERA_RTC_S1",
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1_366240_IW1_20240110T103719_VV_30AC-BURST"
      ]
    }
  },
  {
    "job_type": "OPERA_RTC_S1",
    "name": "{{ name }}",
    "job_parameters": {
      "granules": [
        "S1_011394_IW2_20200102T024334_HH_86EB-BURST"
      ]
    }
  }
]
